@model GrupoGPS_Proto.Models.Empresa

@{
    ViewData["Title"] = "BuscarEmpresa";
    Layout = "_Layout";
}

<h1>Buscar Empresa</h1>

@using (Html.BeginForm("ActionName", "ControllerName", FormMethod.Get))
{
    <div class="form-group">
        @Html.LabelFor(model => model.CNPJ)
        @Html.TextBoxFor(model => model.CNPJ, new { @class = "form-control"})
        @Html.ValidationMessageFor(model => model.CNPJ, "string 3", new { @class = "text-danger"})
    </div>

    <button type="submit">Buscar</button>
}